@import '../common-styles.scss';

.menu-section {
  width: 100%;
  padding: 50px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $backgroundWhite;
}
