@import '../common-styles.scss';

.faq-section {
  width: 100%;
  height: 1000px;
  position: relative;
  color: $textWhite;

  .text-container {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
  }

  .image-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 50;
    background-color: #282826;
    opacity: 0.6;
  }
}
