@import '../common-styles.scss';

.accommodation-section {
  width: 100%;
  padding: 50px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $backgroundWhite;

  .hotel-info-container {
    margin: 15px 0;
  }
}
