@import '../common-styles.scss';

.welcome-banner {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
  color: black;

  .text-container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 50;
    background-color: $backgroundBeige;
    opacity: 0.2;
  }

  .image-container {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
    z-index: 1;
  }
}
