@import '../common-styles.scss';

.welcome-banner {
  width: 100%;
  height: 550px;
  position: relative;
  color: $backgroundWhite;

  .text-container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-container {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    filter: brightness(0.5);
    z-index: 1;
  }
}
