@import '../common-styles.scss';

.rsvp-section {
  width: 100%;
  //padding: 50px 0;
  height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $textWhite;

  @media only screen and (max-width: 339px) {
    height: 1000px;
  }
  @media only screen and (min-width: 340px) and (max-width: 359px) {
    height: 950px;
  }
  @media only screen and (min-width: 360px) and (max-width: 400px) {
    height: 900px;
  }

  .text-container {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
  }

  .image-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 50;
    background-color: #282826;
    opacity: 0.6;
  }

  .image-container {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .type-translation {
    color: $textWhite;
  }

  .translation-container {
    margin: 40px 0;
  }

  .translation-link {
    text-transform: uppercase;
  }
}
