@import '../common-styles.scss';

.main-nav {
  width: 100%;
  height: auto;
  padding: 0 30px;
  background-color: $backgroundBeige;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
