$textFont: 'EB Garamond', serif;
$headerFont: 'Brygada 1918', serif;
$titleFont: 'Yuji Syuku', serif;

//$backgroundBeige: #b2b0af;
$backgroundBeige: #a9a49e;
$backgroundWhite: #e4e3e1;
$textWhite: #f3f4f0;
$darkBeige: #8f8e86;
$linkBeige: #777770;

.type-text {
  font-family: $textFont;
  font-size: 20px;
  margin: 16px;
  max-width: 550px;
  letter-spacing: 1px;
}

.type-header {
  font-family: $headerFont;
  font-size: 30px;
  margin: 35px 16px 16px 16px;
}

.type-title {
  font-family: $titleFont;
  font-size: 55px;
  margin-bottom: 20px;
}

.type-site-title {
  font-family: $titleFont;
  font-size: 65px;
  margin: 20px 0;
}

.type-banner-text {
  font-family: $textFont;
  font-size: 20px;
  margin: 16px;
  max-width: 550px;
  letter-spacing: 1px;
}

.type-translation {
  font-family: $textFont;
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
  margin: 16px;
  max-width: 550px;
  letter-spacing: 1px;
  color: #5a5650;
}

@media only screen and (max-width: 450px) {
  .type-site-title,
  .type-title {
    font-size: 35px;
    margin: 10px;
  }
  .type-header {
    font-size: 25px;
  }
}

.type-semibold {
  font-weight: 600;
}

.type-black {
  color: black;
}

.flex-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: $linkBeige;
  font-size: 18px;
  font-weight: 600;
  &.link-white {
    color: $textWhite;
  }
}

.text-beige {
  color: $darkBeige;
}
