@import '../common-styles.scss';

.registry-section {
  width: 100%;
  height: 1100px;
  position: relative;
  background-color: $backgroundBeige;

  .text-container {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
  }

  .background-filter {
    height: 400px;
    width: 400px;
    background-color: $backgroundWhite;
    opacity: 0.7;
  }

  .image-container {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
