@import '../common-styles.scss';

.wedding-section {
  width: 100%;
  background-color: $backgroundWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
