@import '../common-styles.scss';

.wedding-section {
  width: 100%;
  padding: 50px 0;
  position: relative;
  background-color: $backgroundWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .wedding-info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .programme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .timeline-cont {
    width: 100%;

    .timeline {
      width: 50%;
      height: 50px;
      border-right: 3px solid black;
    }
  }

  .type-header-m10 {
    margin: 10px;
  }
}

.wedding-counter {
  display: flex;
  margin-top: 30px;

  .counter-section {
    margin: 0 10px;
  }

  .counter-number {
    font-family: $titleFont;
    font-size: 55px;
    color: $darkBeige;
  }

  .counter-text {
    font-family: $textFont;
    font-size: 18px;
    color: $darkBeige;
  }
}
