@import '../common-styles.scss';

.wedding-section {
  width: 100%;
  padding: 50px;
  position: relative;
  background-color: $backgroundWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .wedding-info-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .image-container {
      width: 50%;
      height: 100%;

      .flower-img {
        width: 100%;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .text-container {
      width: 50%;
      height: 400px;
    }
  }

  .timeline-cont {
    width: 100%;

    .timeline {
      width: 50%;
      height: 50px;
      border-right: 3px solid black;
    }
  }

  .type-header-m10 {
    margin: 10px;
  }
}
